#background {
	height: 90vh;
	display: block;
}

svg {
	height: 100%;
	width: auto;
}

#menu {
	height: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
}

#block {
		text-align: center;
		margin-top: 5%;
}

#about {
    position: absolute;
    top: 0;
  	transform: translate(-50%, 0%);
}

#work {
    position: absolute;
    right: 0;
  	transform: translate(50%, 0%);
}

